[submodule "kernel"]
    path = kernel
    url = git@github.com:shiggyOS/kernel.git
[submodule "platform"]
    path = shiggy_platform
    url = git@github.com:shiggyOS/platform.git
[submodule "shig"]
    path = shig
    url = git@github.com:shiggyOS/shig.git