[submodule "kernel"]
    path = kernel
    url = https://github.com/shiggyOS/kernel
[submodule "platform"]
    path = shiggy_platform
    url = https://github.com/shiggyOS/platform
[submodule "shig"]
    path = shig
    url = https://github.com/shiggyOS/shig
    